/* general main */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/concrete_seamless.png");
  padding: none;
  margin: none;
}

/* ====================header =================*/
.d-flex {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: 0;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

h5 {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* ===================Body Main===================== */
.main-section{
  padding-top: 50px;
}
.p-5{
  padding: top 250px;
}
h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  font-size: 30px;
}



/* ===================Sticky footer styles============================== */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /*Margin bottom by footer height*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  padding: 20px 0;
  clear: both;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #666666;
  border-top: 5px solid #4aaaa5;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  padding: 0;
}

/*======================== contact page =======================*/

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

/*======================== Portfolio page =======================*/
.card h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/* ======================================================= */
/* ==================screen resolution==================== */

/*  ##Screen = B/w 980px  */
@media screen and (max-width: 980px){

}

/*  ##Screen = B/w 768px  */
@media screen and (max-width: 768px) {

  .d-flex h5 {
    width: 100%;
  }
}


/*  ##Screen = B/w 640px  */

@media screen and (max-width: 640px) {

  .d-flex h5 {
    width: 100%;
  }
}

